<p>
  Medicos
</p>

<table>
  <thead>
    <tr>
      <th id="nameHeader">Name</th>
      <th id="especialidadeHeader">Especialidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let medico of medicos">
      <td>{{medico.name}}</td>
      <td>{{medico.especialidade}}</td>
      <td><a href="#" (click)= "show(medico.id)">Show</a></td>
      <td><a href="#" (click)= "edit(medico.id)" >Edit</a></td>
      <td><a href="#" (click)= "destroy(medico.id">Destroy</a></td>
    </tr>
  </tbody>
</table>

<a [routerLink] = "['/medicos, 'new']">New Medico</a>